.content-pro5 {
    width: 1150px;
    display: flex;
    position: relative;
}

.infor {
    width: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.left-info {
    width: 100%;
    height: calc(100vh - 85px);
    background-color: #f6f6f6;
}

.manager-item:first-child {
    font-size: 2rem;
    font-weight: 700;
    background-color: silver;
}

.manager-item:first-child:hover {
    background-color: silver;
}

.manager-item {
    cursor: pointer;
    list-style: none;
    font-weight: 600;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.manager-item:hover {    
    background-color: #e0e0e0;
}

.active {
    background-color: #e0e0e0;
    font-weight: 600;
}

.manager-icon {
    margin-right: 10px;
}

.mana {
    width: 75%;
    height: 100px;
    position: absolute;
    right: 0;
}

.contact-info1 {
    margin: 10px 20px;
}