.wrapper {
    width: 100%;
    height: 85px;
    display: flex; 
    flex-direction: column;
    align-items: center;  
    box-shadow: 0px 1px 3px rgba(192, 192, 192, 0.5);
}

.header {
    width: 100%;
    background-color: var(--primary);
    height: 35px;
    display: flex;    
    flex-direction: column;
    align-items: center;
}

.about {    
    /* width: 1150px; */
    width: 100%;
    height: 100%;
    display: flex;    
    color: var(--text-color);
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
}

.about-text {
    font-size: 1.5rem;
}

.about-contry {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.about-logo {
    height: 30px;
}

.menu {
    z-index: 10;
    width: 1150px;
    height: 50px; 
}

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.menu-main {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-top: 3px;
}

.menu-list {
    display: flex;    
    align-items: center;
}

.menu-list Link {
    text-decoration: none;
}

.menu-item {
    list-style: none;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 20px;
    font-size: 1.6rem;
    color: black;
}

.menu-item:hover {
    color: var(--primary);
}

.btn-login, .btn-logout {
    border-radius: 6px;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 44, 85);
    padding: 8px 14px;
    font-size: 1.4rem;
    cursor: pointer;
    outline: none;
    border: none;
    margin: 0;
}

.btn-login:hover, .btn-logout:hover {
    color: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
}

.menu-user {
    display: flex;
    align-items: center;
}